# Core Flask
Flask==3.1.1

# Database
Flask-SQLAlchemy==3.0.4
Flask-Migrate==4.1.0
SQLAlchemy==2.0.30

# Forms & Validation
Flask-WTF==1.1.1
WTForms==3.1.2

# Authentication
Flask-Login==0.6.3
itsdangerous==2.2.0
Werkzeug==3.1.0


# Email
Flask-Mail==0.9.1

# Env configs
python-dotenv==1.0.1

# Compression & Assets
Flask-Compress==1.13
Flask-Assets==2.0

# Redis Queue (optional)
redis==5.0.4
rq==1.16.2

# HTTP requests (optional)
requests==2.31.0

# Dev/Formatting tools (optional)
isort==5.13.2
yapf==0.40.2

# Faker for testing (optional)
faker==24.8.0
